td .btn {
	width: 96px;
	height: 96px;
	font-size: 3em;
}
.panel {
	width: 340px;
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
}
